# Environments
venv/
.env
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/dist/
frontend/node_modules/

#reference projrct
reference_project/
